[package]
name = "db"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
clap = { version = "4.4", features = ["derive"] }
engine = { path = "../../crates/engine" }
cli = { path = "../../crates/cli" }